<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="JITADUserSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a515ac478bb0c91c" />
      </assemblies>
    </compilation>
    <sessionState mode="InProc"
                  cookieless="false"
                  regenerateExpiredSessionId="true"
                  timeout="120"
                  stateNetworkTimeout="120" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" defaultRedirect="~/ErrorG" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/Error404"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Auto">
      <remove statusCode="404"/>
      <error statusCode="404" path="/Error404" responseMode="ExecuteURL"/>
    </httpErrors>
     <rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="true" stopProcessing="true">
          <match url="^((Konto|Admin)/.*)$" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
       <remove fileExtension=".svg" />
       <mimeMap fileExtension=".svg" mimeType="image/svg+xml"  />
    </staticContent>
  </system.webServer>
</configuration>
